%tableCell {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

$coffee: #6F4E37;

#title {
    color: $coffee;
    text-align: center;
    font-size: 48px;
    margin: 10px;
}

table {
    margin-left: 15px;

    /* don't display the first column of the table on smaller screens */
    .table-image {
        @media (max-width: 768px) {
            display: none
        }
    }

    td {
        @extend %tableCell;
        font-size: 14px;
    }

    th {
        @extend %tableCell;
        font-size: 18px;
        font-weight: bold;
    }

    img {
        width: 300px;
    }
}
