%tableCell {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

$coffee: #6F4E37; /* the universal standard "coffee" color */

/* standardize the title of each page */
#title {
    color: $coffee;
    text-align: center;
    font-size: 48px;
    margin: 10px;
    font-family: Garamond;
    font-weight: bold;
}

.desc {
    background-color: $coffee;
    padding: 5px 10% 15px 10%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25%;

    p {
        color: white;
    }
}

table {
    margin-left: 15px;

    /* don't display the first column of the table on smaller screens */
    .table-image {
        @media (max-width: 768px) {
            display: none
        }
    }

    td {
        @extend %tableCell;
        font-size: 14px;
    }

    th {
        @extend %tableCell;
        font-size: 18px;
        font-weight: bold;
    }

    img {
        width: 300px;
    }
}

.container {
    /* adjust the header for the glossary */
    .row:first-child {
        font-weight: bold;
        font-size: 18px;
        color: $coffee;
    }

    /* add some spacing between the rows */
    > div {
        margin: 1%;
    }
}
